#resultDiv {
	color: cornflowerblue;
	width: 516px;
	margin-left: 127px;
	margin-bottom: 20px;
	padding: 20px 20px 24px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
	box-shadow: 0 1px 4px rgba(0,0,0,0.2);
	font-size: xx-large !important;
}

#resultImg {
	max-width: 516px;
}

#description {
	color: #878787;
	font-size: small;
	margin-top: 10px;
}

#moreLink {
	color: #878787;
	text-decoration: none;
	font-size: xx-small;
	margin-left: 500px;
}

#wolframButton {
	border-radius: 7px;
	background-color:transparent;
	border: 1px solid #eeb44f;
	color: #ffffff;
	font-size: 10px;
	font-weight: bold;
	font-style: normal;
	height: 35px;
	width: 65px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #cc9f52;
}